[Unit]
Description=Trusted Key SSH Agent

[Socket]
ListenStream=%t/tk-ssh-auth.sock
Service=tk-ssh-agent.service
SocketMode=0600

[Install]
WantedBy=sockets.target
